.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: #36304a;
}

.table-view .column-header .label {
  -fx-alignment: CENTER_LEFT;
  -fx-text-fill: white;
  -fx-font-size: 15;
  -fx-opacity: 1;
  -fx-font-family: 'Consolas', Regular;
}

.table-view .column-header-background{
    -fx-background-color: #36304a;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}